<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestión de Campos Clínicos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="page-container">
    <!-- Header -->
    <header class="header-container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="btn btn-dark me-2" id="menu-toggle">
                Menu
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Gestión del Presupuesto de Campos Clínicos Universidad Central</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <!-- Mostrar nombre de usuario si está autenticado -->
                        <li class="nav-item d-flex align-items-center">
                            <span class="navbar-text text-white me-3">@User.Identity.Name</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="ChangePassword">Cambiar Contraseña</a>
                        </li>
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                <button type="submit" class="btn btn-link nav-link text-white">Cerrar Sesión</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <!-- Opciones para iniciar sesión, registrarse o cambiar contraseña si no está autenticado -->
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Registro" asp-action="Index">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Login" asp-action="Index">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="ChangePassword">Cambiar Contraseña</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <span class="close-btn text-black" id="close-btn">&times;</span>
        <div class="logo-container text-center py-1" style="margin-top: 15px;">
            <img src="~/images/ucn_logo.png" alt="Logo Universidad Central" style="width: 50%;" />
        </div>
        <ul class="nav flex-column p-2">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Historial De Usuario" asp-action="Historial">Auditoría</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">Convenios <span class="dropdown-toggle-icon">▼</span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Convenio" asp-action="Index">Convenios Vigentes</a></li>
                    <li><a class="dropdown-item" asp-controller="Convenio" asp-action="Create">Registrar Convenios</a></li>
                    <li><a class="dropdown-item" asp-controller="Convenio" asp-action="Papelera">Anexos</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">Registro De Estudiantes <span class="dropdown-toggle-icon">▼</span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Planillas" asp-action="Index">Listado De Estudiantes</a></li>
                    <li><a class="dropdown-item" asp-controller="Planillas" asp-action="Upload">Subir Planilla De Estudiantes</a></li>
                    <li><a class="dropdown-item" asp-controller="Planillas" asp-action="Upload">Registro Historico De Estudiantes</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">Documentos de Facturación <span class="dropdown-toggle-icon">▼</span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Facturacion" asp-action="Index">Documentos de Facturación</a></li>
                    <li><a class="dropdown-item" asp-controller="Facturacion" asp-action="Create">Registrar Factura</a></li>
                    <li><a class="dropdown-item" asp-controller="Facturacion" asp-action="Index">Registro Histórico De Facturaciones</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">Devengados <span class="dropdown-toggle-icon">▼</span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Devengado" asp-action="Index">Solicitud de Devengado</a></li>
                    <li><a class="dropdown-item" asp-controller="Devengado" asp-action="Index">Registro Histórico De Devengado</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">Evaluación CE <span class="dropdown-toggle-icon">▼</span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Pagos" asp-action="Index">Evaluaciones</a></li>
                    <li><a class="dropdown-item" asp-controller="Pagos" asp-action="Create">Estadística</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">Presupuesto <span class="dropdown-toggle-icon">▼</span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Presupuesto" asp-action="Index">Listado Consolidado x Centro Costo</a></li>
                    <li><a class="dropdown-item" asp-controller="Presupuesto" asp-action="Create">Registrar</a></li>
                    <li><a class="dropdown-item" asp-controller="Provision" asp-action="Index">Listado Provisión</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Contenido Principal -->
    <main class="content-container" id="main-content">
        <div class="container-fluid mt-4">
            @RenderBody()
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer-container">
        <p>&copy; 2024 - Gestión de Campos Clínicos Universidad Central</p>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById("menu-toggle").addEventListener("click", function () {
            var sidebar = document.getElementById("sidebar");
            var content = document.getElementById("main-content");

            sidebar.classList.toggle("show");
            content.classList.toggle("shifted");
        });

        document.getElementById("close-btn").addEventListener("click", function () {
            var sidebar = document.getElementById("sidebar");
            var content = document.getElementById("main-content");

            sidebar.classList.remove("show");
            content.classList.remove("shifted");
        });
        document.querySelectorAll('.nav-item.dropdown').forEach(item => {
            item.addEventListener('mouseenter', function () {
                this.querySelector('.dropdown-menu').style.display = 'block';
            });

            item.addEventListener('mouseleave', function () {
                this.querySelector('.dropdown-menu').style.display = 'none';
            });

            // Asegura que el dropdown no desaparezca cuando el mouse esté sobre él
            const dropdownMenu = item.querySelector('.dropdown-menu');
            dropdownMenu.addEventListener('mouseenter', function () {
                this.style.display = 'block';
            });

            dropdownMenu.addEventListener('mouseleave', function () {
                this.style.display = 'none';
            });
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
