@{
    Layout = "_Layout";
    ViewData["Title"] = "Correo Confirmado";
}

<h2>Correo Confirmado</h2>
<p>Tu correo electrónico ha sido confirmado con éxito. Ahora puedes iniciar sesión.</p>

<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Iniciar Sesión</a>
