@model Gestion_Del_Presupuesto.Models.UFViewModel

@{
    ViewData["Title"] = "Ingreso y Conversión de UF";
}

<h2>Ingreso y Conversión de UF</h2>

<form asp-action="ConvertirUF">
    <div class="form-group">
        <label>Valor en UF</label>
        <input class="form-control" asp-for="MontoUF" />
    </div>
    <button type="submit" class="btn btn-primary">Convertir a CLP</button>
</form>
