@model Gestion_Del_Presupuesto.Models.RutificadoraModel

@{
    ViewData["Title"] = "Eliminar Rutificadora";
}

<h2>Eliminar Rutificadora</h2>

<h3>¿Estás seguro de que quieres eliminar este registro?</h3>
<div>
    <h4>Rutificadora</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Asignatura
        </dt>
        <dd class="col-sm-10">
            @Model.Asignatura
        </dd>
        <dt class="col-sm-2">
            Institución
        </dt>
        <dd class="col-sm-10">
            @Model.Institucion
        </dd>
        <dt class="col-sm-2">
            Nombre Completo
        </dt>
        <dd class="col-sm-10">
            @Model.NombreCompleto
        </dd>
        <dt class="col-sm-2">
            RUT
        </dt>
        <dd class="col-sm-10">
            @Model.RUT
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id_Rutificadora" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
