@model Gestion_Del_Presupuesto.Models.EncuestaModel

@{
    ViewData["Title"] = "Subir Encuesta";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="Tipo">Tipo de Encuesta</label>
            <select name="tipo" class="form-control" required>
                <option value="Estudiante a Campo Clínico">Estudiante a Campo Clínico</option>
                <option value="Campo Clínico a Estudiante">Campo Clínico a Estudiante</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ArchivoEncuesta">Subir Documento</label>
            <input type="file" name="archivoEncuesta" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Subir Encuesta</button>
    </form>
</div>
