@model Gestion_Del_Presupuesto.Models.IndicadorEconomico

<h2>Buscar Valor de UF por Fecha</h2>
<form method="get" asp-action="buscarUF">
    <div>

        <input asp-for="SelectedDate" type="date" style="width: 200px class="form-control" />
    <button type="submit" class="btn btn-primary">Buscar Valor UF</button>
    </div>
</form>
@{
    ViewBag.Title = "Valor UF";
}

<h2>Resultado de la UF</h2>

@if (ViewBag.Error != null)
{
    <p style="color: red;">@ViewBag.Error</p>
}
else
{
    <p><strong>Fecha UF:</strong> @ViewBag.FechaUF</p>
    <p><strong>Valor UF:</strong> @ViewBag.ValorUF</p>
}
