@model Gestion_Del_Presupuesto.Models.DevengadoViewModel

<h2>Generar Devengados</h2>

<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="FechaInicio">Fecha de Inicio</label>
                <input class="form-control" style="width: 100%;" asp-for="FechaInicio" type="date" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="FechaFin">Fecha de Fin</label>
                <input class="form-control" style="width: 100%;" asp-for="FechaFin" type="date" />
            </div>
        </div>
        <div class="col-md-4 align-self-end">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </div>
</form>

<h3>Resultados</h3>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Convenio</th>
            <th>Gasto Comprometido</th>
            <th>Pagos Realizados</th>
            <th>Saldo Pendiente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var devengado in Model.Devengados)
        {
            <tr>
                <td>@devengado.Convenio</td>
                <td>@devengado.GastoComprometido</td>
                <td>@devengado.PagosRealizados</td>
                <td>@devengado.SaldoPendiente</td>
            </tr>
        }
    </tbody>
</table>
