@model Gestion_Del_Presupuesto.Models.Historial_Actividad

@{
    ViewData["Title"] = "Detalles de la Actividad";
}

<h1>Detalles de la Actividad</h1>

<div>
    <h4>Historial de Actividad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Fecha
        </dt>
        <dd class="col-sm-10">
            @Model.Fecha.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>
        <dt class="col-sm-2">
            Acción
        </dt>
        <dd class="col-sm-10">
            @Model.Accion
        </dd>
        <dt class="col-sm-2">
            Usuario
        </dt>
        <dd class="col-sm-10">
            @Model.Usuario.UserName
        </dd>
    </dl>
</div>
<div>|
    <a asp-action="Index">Volver al listado</a>
</div>
