@model IEnumerable<Gestion_Del_Presupuesto.Models.Historial_Actividad>

@{
    ViewData["Title"] = "Historial de Actividad";
}

<h2>Historial de Actividad</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Acción Realizada</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fecha.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td>@item.Accion</td>
                <td>@item.Detalles</td>
            </tr>
        }
    </tbody>
</table>
