@model Gestion_Del_Presupuesto.Models.FacturacionModel

@{
    ViewData["Title"] = "Eliminar Facturación";
}

<h2>Eliminar Facturación</h2>

<h3>¿Está seguro que desea eliminar este registro?</h3>

<div>
    <h4>@Model.RazonSocial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            RUT
        </dt>
        <dd class="col-sm-10">
            @Model.RUT
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Facturacion" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
